.btn-block {
    background-color: red;
    color: white;
    padding: 12px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}
input[type=email] {
    margin: 5px 0 2px 0 ;
    display: inline-block;
    width: 100%;
    padding: 7px;
    background-color: #f1f1f1;
}

label{
    font-size: 20px;
}