
   .btn-danger {
    background-color: rgb(4, 4, 168);
    color: white;
    padding: 12px 20px;
    margin: 5px 0;
    border: 1px solid rgb(102, 100, 100);
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    position: relative;
    text-align: center;
    -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  overflow: hidden;
  }
  .btn-danger:hover{
    border: 2px solid blueviolet;
    background: rgb(216, 53, 53) border-box;

}
.btn-danger:after {
    content: "";
    background: white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .btn-danger:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
      h3{
          font-family: Arial, Helvetica, sans-serif;
          padding: auto;
          margin: 0%;
          font-weight: bold;
          color:maroon;
          font-style: oblique;
          font-size: 30px;
      }

      .btn-primary {
        background-color:rgb(163, 159, 159);
        color: black;
        padding: 12px 20px;
        margin: 5px 0;
        border: 1px solid rgb(102, 100, 100);
        cursor: pointer;
        width: 100%;
        font-size: 19x;
        font-weight: bold;

    }
    .btn-primary:hover{
      border: 2px solid blueviolet;
      background: rgb(250, 14, 14) border-box;
  
  }
    h5 {
        margin: 5px 0 5px;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid black; 
        line-height: 0.1em;

    }
    h5 span{
        background-color: #fff;
        padding: 0 10px;
    }

    input[type=text], input[type=password] {
        margin: 5px 0 2px 0 ;
        display: inline-block;
        width: 100%;
        padding: 7px;
        background-color: #f1f1f1;
    }
    
    label{
        font-size: 20px;
    }
    .redirectToLogin {
        color: black;
    }
    .forgotPassword span:hover{
        color: red;
    }
   
  

    




